<form name="form" ng-submit="newActivityPushActivityCtrl.savePushActivity()" novalidate>
	<div class="row"> 
		<div class="col-md-4">
			<div class="row entityInNewActivity "  placeholder="Hello" auto-focus ><span ng-if="newActivityPushActivityCtrl.message!=''" class="recordSavedCalendar">{{newActivityPushActivityCtrl.message}}</span></div>
			<p></p>
			<div class="col-md-12 entityInNewActivity">
				<div class="col-md-2 pull-left"><label for="to" >
					<span>To</span>
					<span class="asteric">*</span>
				</label></div>
				  <div class="col-md-10" ><select size="10" name="selectedUsers" multiple ng-multiple="true" ng-model="newActivityPushActivityCtrl.newPushActivity.selectedUsers" ng-options="user.User_Name+'('+user.User_role+')' for user in newActivityPushActivityCtrl.users" required>
				  </select></div>
			</div>
			<div class="col-md-12 row entityInNewActivity">
				<label for="to" class="col-md-2 top-pad-both">
					<span>Venue</span>
					<span class="asteric">*</span>
				</label>
				<input type="text" name='venue' class="txtBox col-md-10" maxlength="50"  ng-model="newActivityPushActivityCtrl.newPushActivity.venue" required>
			</div>
			<p></p>
			
			<p></p>
			<div class="col-md-12  entityInNewActivity row">
				<label for="All Day Booked" class="col-md-5 top-pad-both">
					<span>All Day Booked</span>
					
				</label>
				<input type="checkbox" class="txtBox col-md-1" ng-model="newActivityPushActivityCtrl.newPushActivity.allDayBooked">
			</div>
			<p></p>
			
			<p></p>
        
        </div>
        
        <div class="col-md-4">
        
            <div class="col-md-12 entityInNewActivity row">
			<label for="to" class="col-md-3 top-pad-both">
				<span>Start Time</span>
				<span class="asteric">*</span>
			</label>
			<input datetime-picker date-format="yyyy-MM-dd HH:mm:ss" name='startDt' class="txtBox col-md-9 top-pad-both" ng-model="newActivityPushActivityCtrl.newPushActivity.start">
			</div>
			<p></p>
			<div class="col-md-12 entityInNewActivity row">
				<label for="End Time" class="col-md-3 top-pad-both">
					<span>End Time</span>
					
				</label>
				<input datetime-picker date-format="yyyy-MM-dd HH:mm:ss" name='endDt' ng-disabled="newActivityPushActivityCtrl.newPushActivity.allDayBooked" class="txtBox col-md-9 top-pad-both" ng-model="newActivityPushActivityCtrl.newPushActivity.end">
			</div>
			
			<div class="col-md-12 entityInNewActivity">
				<label for="Set Reminder" class="col-md-4 top-pad-both">
					<span>Set Reminder</span>
					
				</label>
				<input type="checkbox" class="txtBox col-md-1" ng-model="newActivityPushActivityCtrl.newPushActivity.setReminder">
				<select  class="col-md-6 newActiviryRemSelect" name="ReminderInterval" ng-model=" newActivityPushActivityCtrl.newPushActivity.ReminderInterval" ng-disabled="!newActivityPushActivityCtrl.newPushActivity.setReminder">
					<option value="">Select</option>
					<option value="5">5 min</option>
					<option value="10">10 min</option>
					<option value="15">15 min</option>
					<option value="20">20 min</option>
					<option value="30">30 min</option>
					<option value="60">1 hour</option>
				</select>
			</div>
        </div>
        
        <div class="col-md-4">
			<div class="entityInNewActivity row">
				<label for="Subject" class="col-md-3 ">
					<span>Subject</span>
					<span class="asteric">*</span>
				</label>
				<input type="text" name='subject' class="txtBox col-md-9 top-pad-both" maxlength="100" ng-model="newActivityPushActivityCtrl.newPushActivity.subject" required>
			</div>
			<p></p>
			<div class="entityInNewActivity">
				<label for="Message" class="col-md-3">
					<span>Message</span>
					
				</label>
				<textarea rows=10 cols=53 style="resize:none" ng-model="newActivityPushActivityCtrl.newPushActivity.message">
				</textarea>
			</div>
			<div class="row"><div class="col-md-9"></div> 
				<div class="col-md-3"> 
					<button class="btn btn-primary activityBtn" type="submit">Send</button> 
				</div>
			</div>
		</div>
	</div>
</form>
