<div class="col-sm-12 top-pad-both">
		<div class="panel panel-default">
			<div class="panel-body">
		<div class="row"><h4  class="pull-left col-md-6">ADMITTED PATIENTS (12)</h4><span class="col-md-6 "><a ui-sref="{{$state.current.name}}"  style="color:#1dbd9d !important" class="pull-right">View all</a></span></div>
		<div class="row" id="admitpatient">
		<div class="col-md-3"><div class="panel panel-default">
	  <div class="panel-body">
	<div class="row">
										<div class="col-md-4 text-center"> <img src="/static/images/pic_user.png" width="53" height="53"><br>
										  <span class="subtext">Bed No.<br> </span> <span class="number">5</span></div>
										<div class="col-md-8 border-left"><span class="card-title">Radha yadav <br>
										  ID 254125<br>
										  </span> <span class="card-small-text">Admitted on<br>
										  20-April, 2016, <br>
	 11:00 AM</span></div>
									  </div>  </div>
	</div></div>
		<div class="col-md-3"><div class="panel panel-default">
	  <div class="panel-body">
	   <div class="row">
										<div class="col-md-4 text-center"> <img src="/static/images/pic_user.png" width="53" height="53"><br>
										  <span class="subtext">Bed No.<br> 
										  </span> <span class="number">4</span></div>
										<div class="col-md-8 border-left"><span class="card-title">Charu <br>
										  ID 254125<br>
										  </span> <span class="card-small-text">Admitted on<br>
										  20-April, 2016, <br>
	 11:00 AM</span></div>
									  </div>
	  </div>
	</div></div>
	<div id="admityellow">
		<div class="col-md-3"><div class="panel panel-default">
	  <div class="panel-body">
	   <div class="row">
										<div class="col-md-4 text-center"> <img src="/static/images/pic_user.png" width="53" height="53"><br>
										  <span class="subtext">Bed No.<br> 
										  </span> <span class="number">9</span></div>
										<div class="col-md-8 border-left"><span class="card-title">Manisha <br>
										  ID 254125<br>
										  </span> <span class="card-small-text">Admitted on<br>
										  20-April, 2016, <br>
	 11:00 AM</span></div>
									  </div>
	  </div>
	</div></div>
	</div>
		<div class="col-md-3"><div class="panel panel-default">
	  <div class="panel-body">
		<div class="row">
										<div class="col-md-4 text-center"> <img src="/static/images/pic_user.png" width="53" height="53"><br>
										  <span class="subtext">Bed No.<br> 
										  </span> <span class="number">2</span></div>
										<div class="col-md-8 border-left"><span class="card-title">Nikita <br>
										  ID 254125<br>
										  </span> <span class="card-small-text">Admitted on<br>
										  20-April, 2016, <br>
	 11:00 AM</span></div>
									  </div>
	  </div>
	</div></div>
		</div>
	  </div>
	</div>
</div>
        